<% content_for :header do %>
  <h1>Summoner Leaderboard</h1>
<% end %>

<div class="row">
  <div class="col-md-9">
    <div class="app-card app-card-table wow fadeInLeft lapse-one">
        <table class="table">
          <thead>
            <tr>
              <th>Summoner</th>
              <th>Main Champion</th>
              <th>Champion Score</th>
              <th>Ranked Winrate</th>
              <th># Chests</th>
            </tr>
          </thead>
          <tbody>
            <% @summoners.each do |summoner| %>
            <tr>
              <td class="text-left champ-name-td">
              <%= link_to summoner_path(summoner) do %>
              <%= image_tag "http://ddragon.leagueoflegends.com/cdn/6.9.1/img/profileicon/#{summoner.logo_id}.png", size: "30x30", class: "img img-rounded" %><span class="summ-name"><%= summoner.name %></span>
              <% end %></td>
              <td class="text-left champ-name-td"><%= image_tag "http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/#{summoner.mained_champion.champion.key}.png", size: "30x30", class: "img img-rounded" %><span class="champ-name"><%= summoner.mained_champion.champion.name %></span></td>
              <td class="champ-name-td"><span class="champ-name"><%= summoner.mained_champion.champion_points %></span></td>
              <td class="champ-name-td"><span class="champ-name"><%= "#{summoner.mained_champion_stats.winrate}%" unless summoner.mained_champion_stats.nil? %></span></td>
              <td class="champ-name-td"><span class="champ-name"><%= summoner.chests_unlocked %></span></td>
            </tr>
            <% end %>
          </tbody>
        </table>
    </div>
  </div>

  <div class="col-md-3">
    <div class="app-card wow fadeInRight lapse-three text-center">
      <div class="card-section-champs-full">
        <% @champions.each do |champion| %>
          <div class="champ">
            <%= link_to summoners_path(champion: champion.champion_id) do %>
              <%= image_tag "http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/#{champion.key}.png", size: "30x30", class: "img img-rounded" %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>