<% content_for :header do %>
  <h1><%= @summoner.name %></h1>
<% end %>

<div class="row">
  <div class="col-md-6">
    <div class="app-card">
      <%= column_chart @summoner_mastery_grades, label: 'Value' %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="app-card app-card-info row">
      <div class="card-section card-section-centered card-section-info-main col-md-5 col-without-pad">
        <h1><%= @summoner.mained_champion.champion.name %></h1>
        <label>Main Champion</label>
      </div>
      <div class="card-section-info col-md-7 col-without-pad text-center">
      <% unless @summoner.mained_champion_stats.nil? %>
        <p class="stat">Matches Played: <%= @summoner.mained_champion_stats.matches_played %></p>
        <p class="stat">Winrate: <%= @summoner.mained_champion_stats.winrate %>%</p>
        <p class="stat">KDA: <%= number_with_precision(@summoner.mained_champion_stats.kda, precision: 2) %></p>
      <% else %>
        <p class="stat">Matches Played: 0</p>
        <p class="stat">Winrate: 0%</p>
        <p class="stat">KDA: 0.00</p>
      <% end %>
        <p>Ranked Stats Season 6</p>
      </div>
    </div>
  </div>
  <% unless @summoner.best_kda_champion.nil? %>
  <div class="col-md-6">
    <div class="app-card app-card-info row">
      <div class="card-section card-section-centered card-section-info-main col-md-5 col-without-pad">
        <h1><%= @summoner.best_kda_champion.champion.name %></h1>
        <label>Best KDA Champion</label>
      </div>
      <div class="card-section-info col-md-7 col-without-pad text-center">
      <% unless @summoner.best_kda_champion.nil? %>
        <p class="stat">Matches Played: <%= @summoner.best_kda_champion.matches_played %></p>
        <p class="stat">Winrate: <%= @summoner.best_kda_champion.winrate %>%</p>
        <p class="stat">KDA: <%= number_with_precision(@summoner.best_kda_champion.kda, precision: 2) %></p>
      <% else %>
        <p class="stat">Matches Played: 0</p>
        <p class="stat">Winrate: 0%</p>
        <p class="stat">KDA: 0.00</p>
      <% end %>
        <p>Ranked Stats Season 6</p>
      </div>
    </div>
  </div>
  <% else %>
  <div class="col-md-6">
    <div class="app-card app-card-info app-card-info-empty row text-center">
      <h3>You haven't played Ranked this season</h3>
    </div>
  </div>
  <% end %>
</div>

<div class="row">
  <div class="col-md-3">
    <div class="app-card">
      <div class="card-section card-section-centered">
        <%= image_tag "http://ddragon.leagueoflegends.com/cdn/6.9.1/img/profileicon/#{@summoner.logo_id}.png", size: "100x100", class: "img img-circle" %>
      </div>
      <div class="card-section-full card-section-centered card-section-green">
        <h1><%= @summoner.mastery_score %></h1>
        <label>Mastery Score</label>
      </div>
    </div>

    <div class="app-card">
      <div class="card-section card-section-centered">
        <%= image_tag "hextech.png", size: "100x100", class: "img img-rounded" %>
      </div>
      <div class="card-section-full card-section-centered card-section-green">
        <h1><%= @summoner.chests_unlocked %></h1>
        <label>Chests Unlocked</label>
      </div>
    </div>
  </div>
  
  <div class="col-md-9">
    <%= react_component('AppTable', { data: @summoner_masteries }) %>
    <%= react_component('RankedTableComparison', { data: @ranked_champions }) %>
  </div>
</div>